* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
}

:root {
  background: rgb(10, 15, 23);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}